In [7]:
# Tuples

# another built-in data type similar to lists
# collections of values
# tuples are immutable --> they cannot be changed once they are created

mutable_synonyms = ('changeable', 'fluctuating', 'inconstant', 'variable')
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [3]:
empty = () # convention
type(empty)

tuple

In [4]:
also_empty = tuple()
type(also_empty)

tuple

In [5]:
empty.append('hi')

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
len(mutable_synonyms)

4

In [9]:
sorted(mutable_synonyms)

['changeable', 'fluctuating', 'inconstant', 'variable']

In [10]:
mutable_synonyms + ('modifiable', 'shifting')

('changeable',
 'fluctuating',
 'inconstant',
 'variable',
 'modifiable',
 'shifting')

In [11]:
mutable_synonyms

('changeable', 'fluctuating', 'inconstant', 'variable')

In [13]:
# Sets

# mutable
# unordered and distinct

things = {'coat', 'lock', 'box', 'book', 'apple', 'hair', 'xylophone', 'lock', 'book'}
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [12]:
['cat', 'dog'] + ('bird', 'fish')

TypeError: can only concatenate list (not "tuple") to list

In [15]:
visitor_post_codes = ['M5R', 'M5V', 'M1M', 'M1M', 'M1T']
set(visitor_post_codes)

{'M1M', 'M1T', 'M5R', 'M5V'}

In [ ]:
empty_set = set()

In [16]:
visitor_post_codes

['M5R', 'M5V', 'M1M', 'M1M', 'M1T']

In [17]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [18]:
# checking for membership
'lock' in things

True

In [19]:
things.add('lock')

In [20]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'xylophone'}

In [21]:
things.add('mirror')

In [22]:
things

{'apple', 'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [23]:
things.remove('apple')

In [24]:
things

{'book', 'box', 'coat', 'hair', 'lock', 'mirror', 'xylophone'}

In [25]:
things[1]

TypeError: 'set' object is not subscriptable

In [26]:
# union -> combine two sets to get the unique values in both
# intersection -> the values two sets have in common
# symmetric difference -> find the values that are only in one of the two sets
# difference -> find the values in the first set that are not in the second set


rainbow = {'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'}
olympic_flag = {'red', 'green', 'yellow', 'blue', 'black'}

In [27]:
rainbow.difference(olympic_flag)

{'indigo', 'orange', 'violet'}

In [28]:
olympic_flag.difference(rainbow)

{'black'}

In [30]:
rainbow.symmetric_difference(olympic_flag)

{'black', 'indigo', 'orange', 'violet'}

In [36]:
olympic_flag.symmetric_difference(rainbow)

{'black', 'indigo', 'orange', 'violet'}

In [31]:
rainbow.intersection(olympic_flag)

{'blue', 'green', 'red', 'yellow'}

In [32]:
rainbow.union(olympic_flag)

{'black', 'blue', 'green', 'indigo', 'orange', 'red', 'violet', 'yellow'}

In [37]:
# Dictionaries

# key:value pairs
# ordered and mutable
# every key in a dictionary is unique
# keys can be any immutable data type (e.g., strings, numbers, booleans, tuples)
# values can be any data type

capitals = {'Canada': 'Ottawa', 
            'United States': 'Washington, D.C.', 
            'Mexico': 'Mexico City'}

capitals

{'Canada': 'Ottawa',
 'United States': 'Washington, D.C.',
 'Mexico': 'Mexico City'}

In [38]:
olympic_cities = {2020: 'Tokyo',
                  2016: 'Rio de Janiero',
                  2012: 'London'}

olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [39]:
all_olympics_host = {'summer': olympic_cities,
                     'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

all_olympics_host

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [40]:
empty_dictionary = {} #convention
type(empty_dictionary)

dict

In [41]:
still_empty = dict()
type(still_empty)

dict

In [42]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [43]:
olympic_cities[2012]

'London'

In [44]:
all_olympics_host

{'summer': {2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [46]:
all_olympics_host['winter'][2022]

'Beijing'

In [48]:
all_olympics_host['summer'][2020]

'Tokyo'

In [49]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [50]:
olympic_cities[2014]

KeyError: 2014

In [51]:
olympic_cities.get(2004, 'Toronto')

'Toronto'

In [52]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London'}

In [53]:
2016 in olympic_cities

True

In [55]:
'Rio de Janiero' in olympic_cities

False

In [56]:
olympic_cities[2008] = 'Barcelona'

olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London', 2008: 'Barcelona'}

In [57]:
olympic_cities[2008] = 'Beijing'

olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London', 2008: 'Beijing'}

In [65]:
olympic_cities

{2020: 'Tokyo', 2016: 'Rio de Janiero', 2012: 'London', 2008: 'Beijing'}

In [66]:
all_olympics_host

{'summer': {2020: 'Tokyo',
  2016: 'Rio de Janiero',
  2012: 'London',
  2008: 'Beijing'},
 'winter': {2022: 'Beijing', 2018: 'Pyeongchang'}}

In [67]:
del olympic_cities[2020]

In [68]:
olympic_cities

{2016: 'Rio de Janiero', 2012: 'London', 2008: 'Beijing'}

In [69]:
all_olympics_host.keys()

dict_keys(['summer', 'winter'])

In [70]:
olympic_cities.values()

dict_values(['Rio de Janiero', 'London', 'Beijing'])

In [71]:
if 'London' in olympic_cities.values():
    print('London was a host city')
else:
    print('London was not a host city')

London was a host city

In [73]:
olympic_cities.items()

dict_items([(2016, 'Rio de Janiero'), (2012, 'London'), (2008, 'Beijing')])

| Collection | Mutable? | Ordered? | Use when...|
|---|---|---|---|
| `str` | No | Yes | You want to keep track of text. |
| `list` | Yes | Yes | You want to keep track of and update an ordered sequence.|
| `tuple` | No | Yes | You want to build an ordered sequence that you know won't change or that you want to use as a key in a dictionary or as a value in a set. |
| `set` | Yes | No | You want to keep track of values, but order doesn't matter, and you don't want duplicates. The values must be immutable. |
| `dict` | Yes | No | You want to keep a mapping of keys to values. The keys must be immutable. |

In [74]:
# for loops

# runs an indented block of code for every item in an iterable 
# (e.g., lists, tuples, sets, dictionaries, strings)

# specify a variable name to refer to individual items by
# pick one that makes sense, or use i (for index)

vowels = ['a', 'e', 'i', 'o', 'u']

for i in vowels:
    print(i)

a
e
i
o
u

In [77]:
for number in range(7):
    print(number, number*2)

0 0
1 2
2 4
3 6
4 8
5 10
6 12

In [85]:
input_files = ['data_01.txt', 'data_02.csv', 'data_03.csv', 'data_04.csv']
output_files = []

for i in input_files:
    output_file_name = 'processed_' + i.replace('.csv', '.xlsx')
    output_files.append(output_file_name)
    print(output_files)

['processed_data_01.txt']
['processed_data_01.txt', 'processed_data_02.xlsx']
['processed_data_01.txt', 'processed_data_02.xlsx', 'processed_data_03.xlsx']
['processed_data_01.txt', 'processed_data_02.xlsx', 'processed_data_03.xlsx', 'processed_data_04.xlsx']

In [81]:
input_files = ['data_01.csv', 'data_02.csv', 'data_03.csv', 'data_04.csv']
output_files = []

for i in input_files:
    output_files.append(i)
    print(output_files)

['data_01.csv']
['data_01.csv', 'data_02.csv']
['data_01.csv', 'data_02.csv', 'data_03.csv']
['data_01.csv', 'data_02.csv', 'data_03.csv', 'data_04.csv']

In [82]:
fruits = ['apple', 'blueberries', 'strawberries', 'jackfruit']


for snack in fruits:
    print(snack)

apple
blueberries
strawberries
jackfruit

In [97]:
veggies = {'carrots', 'potatoes', 'celery', 'tomatoes', 'potatoes'}

In [115]:
print(veggies)

{'tomatoes', 'carrots', 'celery', 'potatoes'}

In [99]:
veggies

{'carrots', 'celery', 'potatoes', 'tomatoes'}

In [117]:
for idx, j in enumerate(veggies):
    print(f'{idx} I love {j}')

0 I love tomatoes
1 I love carrots
2 I love celery
3 I love potatoes

In [102]:
ttc_stops = ['Islington', 'Royal York', 'Keele', 'Jane', 'Union']

for idx, stop in enumerate(ttc_stops):
    print(f'Stop {idx + 1} is {stop}')

Stop 1 is Islington
Stop 2 is Royal York
Stop 3 is Keele
Stop 4 is Jane
Stop 5 is Union

In [105]:
numbers = [1, 10, 100, 1000]

for idx, val in enumerate(numbers):
    numbers[idx] = val * 2 # idx = 2; val = 100
numbers

[2, 20, 200, 2000]

In [106]:
numbers = [1, 10, 100, 1000]
idx = 0

for val in numbers:
    numbers[idx] = val * 2
    idx = idx + 1 # idx += 1
numbers

[2, 20, 200, 2000]

In [108]:
lats = [43.12, 24.5433, 592.68]
lons = [0.332, 8.3, 90.28]

for i, j in zip(lats, lons):
    print(i, j)

43.12 0.332
24.5433 8.3
592.68 90.28

In [111]:
olympic_cities.items()

dict_items([(2016, 'Rio de Janiero'), (2012, 'London'), (2008, 'Beijing')])

In [112]:
for key, value in olympic_cities.items():
    print(key, value)

2016 Rio de Janiero
2012 London
2008 Beijing

In [113]:
days = [12, 30, 17, 6, 7]
months = ['april', 'may', 'june', 'january', 'february']

for i in days: # i = 17
    for j in months: # j = 'april'
        print(f"My birthday is on {j} {i}!")

My birthday is on april 12!
My birthday is on may 12!
My birthday is on june 12!
My birthday is on january 12!
My birthday is on february 12!
My birthday is on april 30!
My birthday is on may 30!
My birthday is on june 30!
My birthday is on january 30!
My birthday is on february 30!
My birthday is on april 17!
My birthday is on may 17!
My birthday is on june 17!
My birthday is on january 17!
My birthday is on february 17!
My birthday is on april 6!
My birthday is on may 6!
My birthday is on june 6!
My birthday is on january 6!
My birthday is on february 6!
My birthday is on april 7!
My birthday is on may 7!
My birthday is on june 7!
My birthday is on january 7!
My birthday is on february 7!

In [114]:
pets = ['dog', 'bird', 'cat']
names = ['buddy', 'al']

for i in pets: # i = 'cat'
    for j in names: # j = 'al'
        print(f"My pet is a {i} and its name is {j}")

My pet is a dog and its name is buddy
My pet is a dog and its name is al
My pet is a bird and its name is buddy
My pet is a bird and its name is al
My pet is a cat and its name is buddy
My pet is a cat and its name is al